six
wheel
tzlocal==2.0.0	
PyQt5==5.14.1	
pyqtgraph==0.10.0
qdarkstyle	
numpy
pandas==0.24.2
matplotlib	
seaborn	
tigeropen
PyCryptodome==3.9.9	
futu-api	
rqdatac==2.9.38
ibapi
deap	
pyzmq
quickfix==1.15.1
wmi	
QScintilla==2.11.4	
plotly
requests
websocket-client
peewee
pymysql
psycopg2
mongoengine
quickfix
tornado
kafka-python
urllib3==1.26.6