ci==0.1.1
Cython==0.29.26
deap
ibapi
influxdb==5.3.1
matplotlib
mongoengine==0.18.2
pymongo==3.11.4
numpy
pandas
peewee==3.11.2
plotly==5.5.0
psycopg2
pycryptodome==3.12.0
PyQt5==5.15.6
QScintilla
pyqtgraph==0.10.0
pytz==2019.3
pyxll==5.3.1
pyzmq==22.3.0
QDarkStyle==2.7
# quickfix
requests
rqdatac
scipy
setuptools==57.5.0
simplejson==3.16.0
statsmodels
# TA_Lib
pandas-ta
# tigeropen==1.1.9
tornado==6.1
tzlocal==2.0.0
WMI==1.4.9
urllib3==1.26.6
lxml
tushare
akshare
